Repository warp-drive-data/warp-drive, pull requests merged in 2019-06, with the labels that each got.

#6112 [BUGFIX relationships] fix infinite retry bug for failed relationship fetches
  packages/-ember-data/tests/acceptance/relationships/belongs-to-test.js
  packages/-ember-data/tests/acceptance/relationships/has-many-test.js
  packages/-ember-data/tests/integration/relationships/has-many-test.js
  packages/-ember-data/tests/integration/relationships/unload-new-record-test.js
  packages/store/addon/-private/system/many-array.js
  packages/store/addon/-private/system/model/internal-model.ts
  packages/store/addon/-private/system/promise-proxies.js
  packages/store/addon/-private/system/references/belongs-to.js
  packages/store/addon/-private/system/relationships/state/relationship.ts
  packages/store/addon/-private/system/store.js
  packages/store/addon/-private/system/store/record-data-store-wrapper.ts
  packages/store/addon/-private/ts-interfaces/record.ts
Labels: ts-review

#6139 Use the @ember-data packages in the serializer API docs
  packages/serializer/addon/-private/embedded-records-mixin.js
  packages/serializer/addon/json-api.js
  packages/serializer/addon/json.js
  packages/serializer/addon/rest.js
  packages/serializer/addon/serializer.js
  packages/serializer/addon/transforms/boolean.js
  packages/serializer/addon/transforms/date.js
  packages/serializer/addon/transforms/number.js
  packages/serializer/addon/transforms/string.js
  packages/serializer/addon/transforms/transform.js
Labels: TRACK-packages

#6138 Use the @ember-data packages in the adapter API docs
  packages/adapter/addon/-private/build-url-mixin.js
  packages/adapter/addon/adapter.js
  packages/adapter/addon/error.js
  packages/adapter/addon/json-api.js
  packages/adapter/addon/rest.js
Labels: TRACK-packages

#6180 chore: cleanup rollup implementation for packages
  bin/publish.js
  packages/-build-infra/package.json
  packages/-build-infra/src/addon-build-config-for-data-package.js
  packages/-build-infra/src/cli-flags.js
  packages/-build-infra/src/utilities/rollup-private-module.js
  packages/-ember-data/index.js
  packages/-ember-data/package.json
  packages/-ember-data/tests/helpers/watch-property.js
  packages/adapter/addon/-private/index.js
  packages/adapter/addon/index.ts
  packages/adapter/addon/rest.js
  packages/adapter/index.js
  packages/model/addon/-private/belongs-to.js
  packages/model/addon/-private/has-many.js
  packages/model/addon/-private/index.ts
  packages/model/addon/index.ts
  packages/model/index.js
  packages/serializer/addon/-private/embedded-records-mixin.js
  packages/serializer/addon/json-api.js
  packages/serializer/index.js
  packages/store/addon/-private/system/model/model.js
  packages/store/addon/-private/system/record-arrays/record-array.js
  packages/store/addon/-private/system/relationships/ext.js
  packages/store/addon/-private/system/store.js
  packages/store/addon/-private/system/store/finders.js
  packages/store/addon/index.js
  packages/store/index.js
  packages/store/package.json
  yarn.lock
Labels: TRACK-packages, blocking

#6186 chore: avoid publishing types
  packages/-ember-data/package.json
  packages/-ember-data/stripped-types.d.ts
  packages/adapter/package.json
  packages/adapter/stripped-types.d.ts
  packages/model/package.json
  packages/model/stripped-types.d.ts
  packages/serializer/package.json
  packages/serializer/stripped-types.d.ts
  packages/store/package.json
  packages/store/stripped-types.d.ts
Labels: TRACK-packages, blocking

#6198 chore: avoid publishing types (#6186)
  packages/-ember-data/package.json
  packages/-ember-data/stripped-types.d.ts
  packages/adapter/package.json
  packages/adapter/stripped-types.d.ts
  packages/model/package.json
  packages/model/stripped-types.d.ts
  packages/serializer/package.json
  packages/serializer/stripped-types.d.ts
  packages/store/package.json
  packages/store/stripped-types.d.ts
Labels: TRACK-packages, blocking
